<div class="panel panel-default">
  <div class="panel-header">
    Create Your Room
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @room do |f| %>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Home Type</label>
              <%= f.select :home_type, [["Aprement", "Aparment"], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]]
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
